.ipynb_checkpoints/
.vscode/
.cache-teticio
credentials
thumbs/
thumbs2/
popsike/
release_info.p
image_vectors.p
embedding_vectors.p
discographer.h5
Pipfile.lock
__pycache__
embedding_model
embedding_model.tflite
image_model
discogs/credentials
discogs/video.mp4
